# original
tests/boot
fs2tar
cptofs
cpfromfs
lklfuse
tests/valgrind*.xml
*.exe
*.dll
tests/net-test
tests/disk
Makefile.conf
include/lkl_autoconf.h
tests/autoconf.sh

# python
*.pyc

# fuzzer executable
tfuzz
fsfuzz
executor
combined
*-fsfuzz
*-executor
*-tfuzz
*-combined

# image
*.img
